* text=auto

*.sh text eol=lf
*.swift text eol=lf
*.m text eol=lf
*.mm text eol=lf
*.h text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.plist text eol=lf
*.strings text eol=lf
*.xcconfig text eol=lf
